<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="display:flex;flex-direction:row;justify-content:space-between">
        <h2>Budgeteer</h2>
        <div style="display:flex;flex-direction:row">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AttemptSignOut" asp-controller="Account" method="post">
                    <button type="submit">Sign Out</button>
                </form>
            }
            <p>@User.Identity.Name</p>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
