<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="AttemptSignOut" asp-controller="Account" method="post">
                <button type="submit">Sign Out</button>
            </form>
        }
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
