@page
@model Budgeteer.Pages.IndexModel
@{
}

<!-- TODO: Better web design -->
<h1>Homepage</h1>
<ul>
    <li><a href="/">Home</a></li>    
    <li><a href="/Wallet">Wallet</a></li>
    <li><a href="/Activity">Activity</a></li>
    <li><a href="/Settings">Settings</a></li>
</ul>